* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: rgb(238, 233, 219);
  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0px;
}

body {
  background: linear-gradient(
    215.59deg,
    rgb(61, 61, 61) 17.021%,
    rgb(37, 37, 37) 98.791%
  );
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
}

header {
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;
}

nav {
  display: flex;
  gap: 50px;
  align-items: center;
}

nav .navbar {
  display: flex;
  gap: 16px;
}

nav .btn {
  width: 130px;
  height: 42px;
  border: 1px solid rgb(238, 233, 219);
  border-radius: 10px;
  color: rgb(238, 233, 219);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

nav .btn:hover {
  background-color: rgb(238, 233, 219);
  color: linear-gradient(
    215.59deg,
    rgb(61, 61, 61) 17.021%,
    rgb(37, 37, 37) 98.791%
  );
  cursor: pointer;
}

.banner {
  display: flex;
  position: relative;
  margin-bottom: 100px;
}

.banner .info {
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.banner .info h1 {
  color: rgb(238, 233, 219);
  font-family: inherit;
  font-size: 58px;
  font-weight: 700;
  line-height: 87px;
  letter-spacing: 0px;
  text-align: left;
}

.banner .info p {
  color: rgb(238, 233, 219);
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 40px;
}

.banner .info .btn {
  width: 200px;
  height: 60px;
  border-radius: 4px;
  background: rgb(242, 192, 52);
  border: none;
  cursor: pointer;
}

.banner .info .btn:hover {
  background-color: rgb(180, 134, 8);
}

.banner img {
  position: absolute;
  left: 30rem;
  top: -10rem;
  box-sizing: border-box;
}
